/* .wrapper {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
} */

/* .container {
    display: flex;
    flex-basis: 100%;
  } */

  /* .productInformations {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    grid-gap: 10px;
    padding: 50px;
  } */

  /* .basicInfo{
    display: flex;
    flex-basis: 60%;
  } */

  /* .shortInfo {
    display: flex;
    flex-basis: 40%;
    flex-direction: column;
  } */

  /* .title {
    display: flex;
    flex-basis: 20%;
    justify-content: center;
    align-items: center;
  }

  .productDescription {
    display: flex;
    flex-basis: 80%;
    margin-top: 100px;
    padding-right: 20px;
  } */

  /* .bidInfo {
    display: flex;
  }

  .info {
    display: flex;
    flex-basis: 60%;
    flex-direction: column;
    text-transform: uppercase;
  } */

  .bidSection {
    display: flex;
    flex-basis: auto;
  }
  
  .bidSection input {
    width: 300px;
    height: 40px;
    padding: 8px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
  }
  
  .bidSection input::placeholder {
    color: #999;
  }
  
  .bidSection input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px #007bff;
  }
  
  
  /* .productImage {
    width: 300px;
    height: 400px;
    object-fit: cover;
    margin-right: 20px;
  } */
  
  /* .productTitle {
    font-size: 24px;
  }
   */
  /* .productDescription {
    margin-bottom: 20px;
  } */
  
  /* .productPrice {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .productEndsAt {
    margin-bottom: 10px;
    color: rgb(172, 48, 48);
  }
   */
  /* .productBidder {
    margin-bottom: 10px;
  } */

/*   
  .bidBtn {
    height: 40px;
    width: 120px;
    margin-left: 10px;
    cursor: pointer;
    background: #1F6E8C;
    color: #f9f9f9;
    border: none;
  } */

  /* .bidBtn:hover {
    background: #f9f9f9;
    color: #000;
    border: 1px solid gray;
  } */

  .bidsTable {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    margin: 20px 10px 0 10px ;
    border: 1px solid white;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); */
  }

  .tableTitle {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
  }
  
  /* table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
  }
   */
  th,
  td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  /* th {
    font-weight: bold;
  } */
  
  /* tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  } */
  
  tbody tr:hover {
    background-color: #ddd;
  }