.container {
    margin: 20px;
  }
  
  .heading {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .noProducts {
    font-style: italic;
  }
  
  .productList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  
  .productItem {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 5px;
  }
  
  .title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .description {
    color: #666;
  }
  